:root {
	--background-color-master: #191919;
	--background-color-child: #222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: 'Consolas', monospace;
	margin: 0;
}
#home {
	margin: 0;
	text-align: center;

	background-image:
		repeating-linear-gradient(45deg, var(--background-color-child) 25%, transparent 25%, transparent 75%, var(--background-color-child) 75%, var(--background-color-child)),
		repeating-linear-gradient(45deg, var(--background-color-child) 25%, var(--background-color-master) 25%, var(--background-color-master) 75%, var(--background-color-child) 75%, var(--background-color-child));
	background-size: 100px 100px;
	background-position: 0px 0px, 50px 50px;
}
